body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif !important;
    color: #738f93;
    background-color: rgba(248, 249, 250, 0.35) !important;
}

hr {
    border-color: rgba(0, 0, 0, 0.2) !important;
}

div.hidden {
    display: none;
}

p.caption {
    font-size: 13px;
    text-transform: uppercase;
    color: #738f93;
    font-weight: 400;
}

.add-crn-animate {
    animation: slide-in 0.4s ease;
}

.remove-crn-animate {
    animation: slide-out 0.3s ease forwards;
}

.add-card-animate {
    animation: slide-up 0.4s ease;
}

.remove-card-animate {
    animation: slide-down 0.3s ease forwards;
}

.add-btn {
    width: 140px;
    margin-top: 15px;
}

.hide {
    display: none;
}

.hide-btn {
    width: 45px;
    float: right;
    margin: 0 15px;
    transform: rotateX(0deg);
    transition: 0.2s ease;
    opacity: 0.7;
}

.hide-btn:focus {
    outline: 0;
}

.hide-btn:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.hide-btn:hover {
    cursor: pointer;
}

.rotate {
    transform: rotateX(180deg);
    transition: 0.2s ease;
}

.trash-btn {
    width: 45px;
    float: right;
    padding: 5px;
    opacity: 0.7;
    transition: 0.2s ease;
}

.trash-btn:hover {
    cursor: pointer;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.trash-btn:focus {
    outline: 0;
}

h1.h1 {
    text-transform: uppercase;
    text-align: center;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.3);*/
    margin: 0 10px 10px 10px;
    padding: 10px;
    font-size: 40px;
    font-weight: 500;
    color: #39424e;
}

h3.modal-title {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

h2.display-3 {
    font-size: 30px;
    margin-bottom: 0;
    color: #39424e;
    font-weight: 500;
    vertical-align: auto;
}

h4.display-4 {
    font-size: 25px;
    font-weight: 300;
}

div.card {
    width: 550px;
    margin: 30px auto;
    box-shadow: 0 6px 16px 0 rgba(115, 143, 147, .3);
    border-radius: 5px;
}

div.card-body {
    padding: 25px;
}

p.quote {
    text-align: center;
    font-size: 12px;
    color: #d8d8d8;
}

ol.list-group-flush {
    margin-top: 10px;
    padding: 0;
}

li.list-group-item img {
    float: right;
    width: 13px;
    opacity: 0.2;
    transform: translateY(5px);
    transition: 0.3s;
}

li.list-group-item img:hover {
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

img.social {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 15px 20px 15px;
    opacity: 0.8;
    transition: 0.3s ease-out;
}

img.social:hover {
    opacity: 1;
    transition: 0.3s ease-in;
}

input[type=button].help {
    background: none;
    border: none;
    margin: 20px;
    position: fixed;
    bottom: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
}

input[type=button].help:hover {
    color: #0255db;
    cursor: pointer;
}

input[type=button].help:focus {
    outline: 0;
}

#crn-input {
    margin: 20px auto;
    padding: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

#crn-input:focus {
    background-color: white;
    border: 2px solid #2980b9;
    outline: none;
    transition: all 175ms ease;
}

#feedback {
    width: 30px;
}

#github {
    transform: translateX(-40px) translateY(6px);
    width: 45px;
}

#clear {
    width: 140px;
    text-align: center;
    margin-right: 15px;
    float: right;
}

#confirm-modal .modal-body {
    font-size: 110%;
}

#add-backup {
    margin-left: 15px;
    width: 140px;
}

#tips {
    bottom: 30px;
}

#tips-modal .modal-dialog {
    max-width: 600px;
    width: 45%;
}

#tips-modal .modal-body {
    padding: 20px;
}

#tips-modal p, li {
    font-size: 105%;
    padding: 5px;
}

#tips-modal p {
    padding: 10px;
}

#tips-modal a {
    text-decoration: none;
}

#instructions-modal .modal-dialog {
    max-width: 600px;
    width: 45%;
}

#instructions-modal .modal-body {
    padding: 20px;
}

#instructions-modal img {
    display: block;
    width: 450px;
    margin: 15px auto;
    max-width: 100%;
}

#instructions-modal a {
    text-decoration: none;
}

#instructions-modal p {
    font-size: 105%;
    padding-left: 10px;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(50px);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slide-down {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}