html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif !important;
}

hr {
    border-color: rgba(0, 0, 0, 0.2) !important;
}

.hidden {
    display: none;
}

.caption {
    font-size: 15px;
}

.add {
    animation: slide-in 0.4s ease;
}

.remove {
    animation: slide-out 0.3s ease forwards;
}

.add-btn {
    width: 140px;
    text-align: center;
    margin-top: 15px;
}

.hide {
    display: none;
}

.hide-btn:after {
    content: "SHOW";
    color: black;
}

.hide-btn {
    background: none;
    border: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    float: right;
    margin: 5px auto;
    opacity: 0.5;
    transition: 0.3s ease-in;
}

.hide-btn:hover {
    opacity: 1.0;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.hide-btn:focus {
    outline:0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

h1.h1 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0 10px 10px 10px;
    padding: 10px;
    font-size: 40px;
    font-weight: normal;
}

h2.display-3 {
    font-size: 30px;
    margin-bottom: 0;
}

h4.display-4 {
    font-size: 25px;
    font-weight: 300;
}

div.card {
    width: 525px;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    border-radius: 7px;
}

input.input-group {
    margin: 20px auto;
    padding: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid rgba(0 ,0, 0, 0.1);
}

input.input-group:focus{
    background-color: white;
    border: 2px solid #2980b9;
    outline: none;
    transition: all 175ms ease;
}

p.quote {
    text-align: center;
    font-size: 12px;
    color: #d8d8d8;
}

ol.list-group {
    margin-top: 10px;
}

li.list-group-item img {
    float: right;
    width: 13px;
    opacity: 0.2;
    transform: translateY(5px);
    transition: 0.3s;
}

li.list-group-item img:hover {
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

img.social {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 15px 20px 15px;
    opacity: 0.2;
    transition: 0.3s ease-out;
}

img.social:hover {
    opacity: 1;
    transition: 0.3s ease-in;
}

#feedback {
    width: 30px;
}

#github {
    transform: translateX(-40px) translateY(6px);
    width: 45px;
}

#clear {
    width: 125px;
    text-align: center;
    margin-right: 15px;
    float: right;
}

#confirm-modal .modal-body {
    font-size: 110%;
}

#add-backup {
    margin-left: 15px;
    width: 140px;
}

#help {
    background: none;
    border: none;
    margin: 20px;
    position: fixed;
    bottom: 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s ease-out;
}

#help:hover {
    color: #0255db;
    transition: 0.3s ease-in;
    cursor: pointer;
}

#help:focus {
    outline:0;
}

#help-modal .modal-dialog {
    max-width: 600px;
    width: 35%;
}

#help-modal .modal-body {
    padding: 20px;
}

#help-modal img {
    display: block;
    width: 450px;
    margin: 15px auto;
    max-width: 100%;
}

#help-modal a {
    text-decoration: none;
}

#help-modal p {
    font-size: 105%;
    padding-left: 10px;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(50px);
    }
}